.btn
  &.btn-block
    width: 100vw
    border-radius: 0
    font-weight: bold
    font-size: 15px
  &.btn-primary
    background-color: $color-1
    border-color: $color-1
  &.btn-danger
    background-color: $color-5
    border-color: $color-5
  &.btn-success
    background-color: $color-3
    border-color: $color-3
  &.btn-link
    padding-left: 0
  &.btn-light
    color: $color-3
  @media(min-width: $mobile-width)
    &.btn-block
      margin: auto
      width: 100%
      border-radius: $radio
      &.btn-success
        box-shadow: $shadow-nav
