.floating-card
  background-color: white
  //box-shadow: $shadow-nav
  //width: 100vw
  margin: auto -15
  padding: 15
  @media (min-width: $mobile-width-md)
    box-shadow: $shadow-nav
    margin: auto
    margin-bottom: 15
    border-radius: $radio
