.lista-quedadas-container
  width: 100vw
  padding: 0
  padding-top: 60
  padding-bottom: 15
  h3
    text-align: center
  .lista-quedadas
    max-height: 30vh
    overflow-y: scroll
    padding: 0
    margin-bottom: 0
    a
      font-size: 1.3rem
      form
        margin-bottom: 0
        .check-asiste
          padding: 3px
          margin-right: 10
          border: none
          background: none
          &.fa-check-circle
            color: $color-1
      &.active
        background-color: $color-1
        border-color: $color-1
        color: white
        .check-asiste
          color: white
          &.fa-check-circle
            color: white
  @media (min-width: $mobile-width-md)
    width: auto
    h3
      text-align: left
