body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: $color-4
  padding-top: $nav-height
  h2
    text-transform: uppercase
    text-align: center
  h3
    text-transform: uppercase
  a
    color: #00B7FF
  @media(min-width: $mobile-width-md)
    padding-top: $nav-height-desktop
    h2
      line-height: 50%
      margin-bottom: 30
      text-align: left
