body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: $color-4
  padding-top: $nav-height
  @media(min-width: $mobile-width)
    padding-top: $nav-height-desktop
