//main: ../main.sass

//Colores basicos
$text-color: black

//Sombras
$shadow-nav: -1px 16px 20px -10px rgba(0,0,0,.3)

//Paleta de colores
$color-1: #cff09e
$color-2: #a8dba8
$color-3: #79bd9a
$color-4: #3b8686

//Tamaños
$nav-height: 100px
$nav-height-desktop: 200px
$nav-height-scrolled: 100px

$mobile-width: 576px
