<footer>
		<p class="copyright">Copyright © 2018 <a href="http://diego-martin.info/" target="_blank">Diego Martín de Andrés</a>.
			<span class="second-line">All Rights Reserved.</span>
		</p>
</footer>
