<% include head %>

<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
  <%= message %>
  <% } %>

  <%- error %>

  <body id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Accede a MIS QUEDADAS v2</h2>
            <p>Introduce tu usuario y tu clave</p>
          </div>
          <form id="Login" action="/login" method="post" enctype='application/json'>

            <div class="form-group">
              <input type="text" class="form-control" name="nombre" placeholder="Usuario">
            </div>


            <div class="form-group">
              <input type="password" class="form-control" name="clave" placeholder="Contraseña">
            </div>


            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script src="/js/json-formdata.js"></script>

  <script>
  /* Common use case, similar to usual FormData object */
  var form = document.querySelector('form');
  form.addEventListener('submit', function (e) {
    e.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/login');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(new JSONFormData(form).formData));
    xhr.addEventListener('loadend', function() {
      // Callback...
      window.location.href = '/quedada';
    }, false);
  }, false);
</script>
