<div class="d-flex flex-row">
  <div class="p-2">
    <img class="rounded-circle fotoUsuario" src="/img/<%= user %>.jpg" alt="<%= user %>" title="<%= user %>">
  </div>
  <div class="p-2">

    <div class="d-flex flex-column align-items-center">
      <div class="p-2">
        <h4 class=""><%= user %></h4>
      </div>
      <div class="p-2">
        <h4>
          <a class="btn btn-link" href="/logout" role="button">Logout</a>
        </h4>
      </div>
    </div>
  </div>
</div>
